<!doctype html>
<html>
<head>
    <title>El Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Hello Cashier</h1>
        <img src="img/cafe.jpg" alt="Coffee Logo">

        <section class = "choiceContainer">
          <div class="cafeOption1">
            <p id="black-cafe"> Black Cafe<p>
          </div>
          <div class="cafeOption2">
            <p id= "cafe-leche"> Cafe con leche</p>
          </div>
          <div class="cafeOption3">
            <p id= "cafe-leche-azucar"> Cafe con Leche y azucar</p>
          </div>
          <div class="cafeOption4">
            <p id= "ice-cafe"> Ice Cafe</p>
          </div>
        </section>

        <section class = "choiceSize">
          <div class="sizeOption">
            <p id="x-small"> x-small<p>
          </div>
          <div class="sizeOption">
            <p id= "small"> Small</p>
          </div>
          <div class="sizeOption">
            <p id= "medium"> Medium</p>
          </div>
          <div class="sizeOption">
            <p id= "large"> Large</p>
          </div>
        </section>

        <section>
          <input type="text" name="" placeholder="customers name">
          <div class="submitButton">
            <p id ="submit">Submit Order</p>
          </div>
        </section>

        <p>Or go <a href="/">home</a>.</p>
        <p>Or go <a href="/userchoice">back</a>.</p>


    </div>

</div>
<script src="main.js"></script>
</body>
</html>
